<%= form_with url: rodauth.otp_setup_path, method: :post, data: { turbo: false } do |form| %>
  <%= form.hidden_field rodauth.otp_setup_param, value: rodauth.otp_user_key, id: "otp-key" %>
  <%= form.hidden_field rodauth.otp_setup_raw_param, value: rodauth.otp_key, id: "otp-hmac-secret" if rodauth.otp_keys_use_hmac? %>

  <div class="form-group mb-3">
    <p><%= rodauth.otp_secret_label %>: <%= rodauth.otp_user_key %></p>
    <p><%= rodauth.otp_provisioning_uri_label %>: <%= rodauth.otp_provisioning_uri %></p>
  </div>

  <div class="row">
    <div class="col-lg-6 col-lg">
      <div class="form-group mb-3">
        <p><%== rodauth.otp_qr_code %></p>
      </div>
    </div>

    <div class="col-lg-6 col-lg">
      <% if rodauth.two_factor_modifications_require_password? %>
        <div class="form-group mb-3">
          <%= form.label "password", rodauth.password_label, class: "form-label" %>
          <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
        </div>
      <% end %>

      <div class="form-group mb-3">
        <%= form.label "otp-auth-code", rodauth.otp_auth_label, class: "form-label" %>
        <div class="row">
          <div class="col-sm-3">
            <%= form.text_field rodauth.otp_auth_param, value: "", id: "otp-auth-code", autocomplete: "off", inputmode: "numeric", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.otp_auth_param)}", aria: ({ invalid: true, describedby: "otp-auth-code_error_message" } if rodauth.field_error(rodauth.otp_auth_param)) %>
            <%= content_tag(:span, rodauth.field_error(rodauth.otp_auth_param), class: "invalid-feedback", id: "otp-auth-code_error_message") if rodauth.field_error(rodauth.otp_auth_param) %>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <%= form.submit rodauth.otp_setup_button, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
