<%%= form_tag <%= rodauth %>.recovery_auth_path, method: :post do %>
  <div class="form-group mb-3">
    <%%= label_tag "recovery-code", <%= rodauth %>.recovery_codes_label, class: "form-label" %>
    <%%= text_field_tag <%= rodauth %>.recovery_codes_param, "", id: "recovery-code", autocomplete: "off", required: true, class: "form-control #{"is-invalid" if <%= rodauth %>.field_error(<%= rodauth %>.recovery_codes_param)}", aria: ({ invalid: true, describedby: "recovery-code_error_message" } if <%= rodauth %>.field_error(<%= rodauth %>.recovery_codes_param)) %>
    <%%= content_tag(:span, <%= rodauth %>.field_error(<%= rodauth %>.recovery_codes_param), class: "invalid-feedback", id: "recovery-code_error_message") if <%= rodauth %>.field_error(<%= rodauth %>.recovery_codes_param) %>
  </div>

  <div class="form-group mb-3">
    <%%= submit_tag <%= rodauth %>.recovery_auth_button, class: "btn btn-primary" %>
  </div>
<%% end %>
