<% content_for :title, rodauth.remember_page_title %>

<%= form_with url: rodauth.remember_path, method: :post, data: { turbo: false } do |form| %>
  <fieldset class="form-group mb-3">
    <div class="form-check">
      <%= form.radio_button rodauth.remember_param, rodauth.remember_remember_param_value, id: "remember-remember", class: "form-check-input" %>
      <%= form.label "remember-remember", rodauth.remember_remember_label, class: "form-check-label" %>
    </div>

    <div class="form-check">
      <%= form.radio_button rodauth.remember_param, rodauth.remember_forget_param_value, id: "remember-forget", class: "form-check-input" %>
      <%= form.label "remember-forget", rodauth.remember_forget_label, class: "form-check-label" %>
    </div>

    <div class="form-check">
      <%= form.radio_button rodauth.remember_param, rodauth.remember_disable_param_value, id: "remember-disable", class: "form-check-input" %>
      <%= form.label "remember-disable", rodauth.remember_disable_label, class: "form-check-label" %>
    </div>
  </fieldset>

  <div class="form-group mb-3">
    <%= form.submit rodauth.remember_button, class: "btn btn-primary" %>
  </div>
<% end %>
