<% content_for :title, rodauth.resend_verify_account_page_title %>

<%= form_with url: rodauth.verify_account_resend_path, method: :post, data: { turbo: false } do |form| %>
  <%== rodauth.verify_account_resend_explanatory_text %>

  <% if params[rodauth.login_param] %>
    <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
  <% else %>
    <div class="form-group mb-3">
      <%= form.label "login", rodauth.login_label, class: "form-label" %>
      <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", autocomplete: "email", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.login_param)}", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
      <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "invalid-feedback", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.submit rodauth.verify_account_resend_button, class: "btn btn-primary" %>
  </div>
<% end %>
