<%% content_for :title, <%= rodauth %>.webauthn_setup_page_title %>

<%% cred = <%= rodauth %>.new_webauthn_credential %>

<%%= form_tag <%= rodauth %>.webauthn_setup_path, method: :post, id: "webauthn-setup-form", data: { credential_options: cred.as_json.to_json } do %>
  <%%= hidden_field_tag <%= rodauth %>.webauthn_setup_challenge_param, cred.challenge %>
  <%%= hidden_field_tag <%= rodauth %>.webauthn_setup_challenge_hmac_param, <%= rodauth %>.compute_hmac(cred.challenge) %>
  <%%= text_field_tag <%= rodauth %>.webauthn_setup_param, "", id: "webauthn-setup", aria: { hidden: "true" } %>
  <%%= render "password_field" if <%= rodauth %>.two_factor_modifications_require_password? %>
  <div id="webauthn-setup-button"> 
    <div class="form-group mb-3">
      <%%= submit_tag <%= rodauth %>.webauthn_setup_button, class: "btn btn-primary" %>
    </div>
  </div>
<%% end %>

<%%= javascript_include_tag <%= rodauth %>.webauthn_setup_js_path %>
