<div class="dark:bg-gray-900 min-h-full flex items-center justify-center py-4 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-sm">
    <div class="p-4 rounded-md shadow shadow-inner sm:p-8 dark:bg-gray-900 dark:text-gray-100">
      <%= form_with url: rodauth.login_path, method: :post, data: { turbo: false }, class: "space-y-8 ng-untouched ng-pristine ng-valid" do |form| %>
        <div class="space-y-4">
          <% if rodauth.skip_login_field_on_login? %>
            <div class="space-y-2">
              <%= form.label "login", rodauth.login_label, class: "block text-sm text-gray-400 dark:text-gray-200" %>
              <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", readonly: true, class: class_names("w-full px-3 py-2 border rounded-md border-gray-400 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100 focus:dark:border-emerald-400 focus:dark:bg-gray-800 invalid:border-red-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500 valid:border-green-500", {"border rounded-md border-red-500": rodauth.field_error(rodauth.login_param)}) %>
            </div>
          <% else %>
            <div class="space-y-2">
              <%= form.label "login", rodauth.login_label, class: "block text-sm text-gray-400" %>
              <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", autocomplete: "email", required: true, class: class_names("w-full px-3 py-2 border rounded-md border-gray-400 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100 focus:dark:bg-gray-800 focus:dark:border-emerald-400 invalid:border-red-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500 valid:border-green-500", {"border rounded-md border-red-500": rodauth.field_error(rodauth.login_param)}), aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>              
              <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "text-red-800 text-xs mt-1 ml-1", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
            </div>
          <% end %>
          <% unless rodauth.skip_password_field_on_login? %>
            <div class="space-y-2">
              <div class="flex justify-between">
                <%= form.label "password", rodauth.password_label, class: "block text-sm text-gray-400" %>                
                <% if rodauth.features.include?(:reset_password) %>                
                  <%= link_to(rodauth.reset_password_request_link_text, rodauth.reset_password_request_path, class: "text-xs text-blue-600 hover:text-blue-700 hover:underline dark:text-gray-200") %>
                <% end %>
              </div>
              <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: class_names("w-full px-3 py-2 border rounded-md border-gray-400 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100 focus:dark:bg-gray-800 focus:dark:border-emerald-400 invalid:border-red-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500 valid:border-green-500", {"focus:border-red-400 focus:outline-none": rodauth.field_error(rodauth.password_param)}), aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
              <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "text-red-800 text-xs mt-1 ml-1", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
            </div>
          <% end %>
        </div>
        <%= form.submit rodauth.login_button, class: "w-full px-8 py-3 font-semibold rounded-md 
          w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 
          dark:bg-emerald-400 dark:text-gray-900" %>
      <% end %>
      <div class="flex items-center w-full my-4">
        <div class="flex justify-center">
          <% unless rodauth.login_form_footer_links.empty? %>
            <ul class="list-none">
              <% rodauth.login_form_footer_links.sort.each do |_, link, text| %>
                <li><%= link_to text, link, class: "text-blue-600 hover:underline hover:text-blue-800 text-sm" %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>