<% content_for :title, rodauth.change_login_page_title %>
<div class="dark:bg-gray-900 flex items-center justify-center h-screen">
  <div class="max-w-sm">
    <h3 class="mb-3 text-3xl font-semibold text-center dark:text-gray-200"> Change Your Login Email Address </h3>
    <%= form_with url: rodauth.change_login_path, method: :post, data: { turbo: false } do |form| %>
      <div class="mx-4 py-1">        
        <%= form.label "login", rodauth.login_label, class: "block text-sm text-gray-400 dark:text-gray-100" %>
        <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", autocomplete: "email", required: true, class: class_names("w-full px-3 py-2 border rounded-md border-gray-400 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100 focus:dark:border-emerald-400 focus:dark:bg-gray-800 invalid:border-red-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500 valid:border-green-500", {"border rounded-md border-red-500": rodauth.field_error(rodauth.login_param)}), aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
        <p class="text-xs text-gray-600 dark:text-gray-300 mt-1"> Enter new email address</p>
        <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "text-red-800 text-xs mt-1 ml-1", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
      </div>
      <% if rodauth.require_login_confirmation? %>
        <div class="mx-4 py-1">
          <%= form.label "login-confirm", rodauth.login_confirm_label, class: "block text-sm text-gray-400 dark:text-gray-100" %>
          <%= form.email_field rodauth.login_confirm_param, value: params[rodauth.login_confirm_param], id: "login-confirm", autocomplete: "email", required: true, class: class_names("w-full px-3 py-2 border rounded-md border-gray-400 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-200 focus:dark:border-emerald-400 focus:dark:bg-gray-800 invalid:border-red-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500 valid:border-green-500", {"border rounded-md border-red-500": rodauth.field_error(rodauth.login_confirm_param)}), aria: ({ invalid: true, describedby: "login-confirm_error_message" } if rodauth.field_error(rodauth.login_confirm_param)) %>
          <p class="text-xs text-gray-600 dark:text-gray-300"> Enter new email address</p>
          <%= content_tag(:span, rodauth.field_error(rodauth.login_confirm_param), class: "text-red-800 text-xs mt-1 ml-1", id: "login-confirm_error_message") if rodauth.field_error(rodauth.login_confirm_param) %>
        </div>
      <% end %>
      <% if rodauth.change_login_requires_password? %>
        <div class="mx-4 py-1">
          <%= form.label "password", rodauth.password_label, class: "block text-sm text-gray-600 dark:text-gray-100" %>
          <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: class_names("w-full px-3 py-2 border rounded-md border-gray-400 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100 focus:dark:border-emerald-400 focus:dark:bg-gray-800 invalid:border-red-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500 valid:border-green-500", {"border rounded-md border-red-500": rodauth.field_error(rodauth.password_param)}), aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "text-red-800 text-xs mt-1 ml-1", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
        </div>
      <% end %>
      <div class="mx-4 py-1">
        <%= form.submit rodauth.change_login_button, class: "w-full px-8 py-3 font-semibold rounded-md w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:bg-emerald-400 dark:text-gray-900" %>
      </div>
    </div>
  </div>
<% end %>