<div class="dark:bg-gray-900 min-h-full flex items-center justify-center py-4 px-4 sm:px-6 lg:px-8">
  <%= form_with url: rodauth.remember_path, method: :post, data: { turbo: false } do |form| %>
    <h3 class="mb-3 text-3xl font-semibold text-center text-white"> Change "Remember" Settings </h3>
    <fieldset class="py-3 px-3">
      <div class="py-0">
        <%= form.radio_button rodauth.remember_param, rodauth.remember_remember_param_value, id: "remember-remember", class: "appearance-none checked:bg-blue-500 indeterminate:bg-gray-300" %>
        <%= form.label "remember-remember", rodauth.remember_remember_label, class: "pl-3 text-sm text-gray-700 dark:text-gray-200" %>
      </div>
      <div class="py-0">
        <%= form.radio_button rodauth.remember_param, rodauth.remember_forget_param_value, id: "remember-forget", class: "appearance-none checked:bg-blue-500 indeterminate:bg-gray-300" %>
        <%= form.label "remember-forget", rodauth.remember_forget_label, class: "pl-3 text-sm text-gray-700 dark:text-gray-200" %>
      </div>
      <div class="py-0">
        <%= form.radio_button rodauth.remember_param, rodauth.remember_disable_param_value, id: "remember-disable", class: "appearance-none checked:bg-blue-500 indeterminate:bg-gray-300" %>
        <%= form.label "remember-disable", rodauth.remember_disable_label, class: "pl-3 text-sm text-gray-700 dark:text-gray-200" %>
      </div>
    </fieldset>
    <div class="form-group mb-3 px-3">
      <%= form.submit rodauth.remember_button, class: "w-full px-8 py-3 font-semibold rounded-md py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:bg-emerald-400 dark:text-gray-900" %>
    </div>
  <% end %>
</div>
