<% content_for :title, rodauth.unlock_account_page_title %>
<div class="dark:bg-gray-900 min-h-full flex justify-center py-4 px-4 sm:px-6 lg:px-8">
  <%= form_with url: rodauth.unlock_account_path, method: :post, data: { turbo: false } do |form| %>
    <div class="p-4 mb-4 rounded-lg text-red-800 dark:text-red-800 dark:bg-red-200 bg-red-100">
      <%== rodauth.unlock_account_explanatory_text %>
    </div>
    <% if rodauth.unlock_account_requires_password? %>
      <div class="py-2">
        <%= form.label "password", rodauth.password_label, class: "block text-sm text-gray-600 dark:text-gray-200" %>
        <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
        <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "text-red-800 text-xs mt-1 ml-1", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
      </div>
    <% end %>
    <div class="py-2">
      <div class="flex justify-center">
        <%= form.submit rodauth.unlock_account_button, class: "px-8 py-2 font-semibold rounded-md flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:bg-emerald-400 dark:text-gray-900" %>
      </div>
    </div>
  <% end %>
</div>
